
<%= form_for(@feedback, :as =>:feed, :url => "/contact_us/contacts/new", :method =>"post") do |f| %>

<h1>Want to give your opinion, kindly do so below!</h1>

<label>User Name</label><br/>
<%=  f.text_field :user_name %><br/>

<label>Email-id </label><br/>
<%=  f.email_field :email_id %><br/>

<label>Feedback regarding</label><br/>
<%=  f.text_field :feedback_regarding %><br/>

<label>Feedback</label><br/>
<%=  f.text_area :feedback %><br/>

<%= f.submit "Submit Feedback" %>

<%end%>